// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url("asanoha.png");
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}
th {
  border-width: 5px;
  padding: 5px 5px 5px 5px;
}
td {
  border-width: 5px;
  padding: 5px 5px 5px 5px;
}
tr {
  border-width: 5px;
  padding: 5px 5px 5px 5px;
}
